.profile-component {
    background: #EAECF0;
    border: 1px solid #EAECF0;
    padding: 24px 32px;
    gap: 8px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;

}

.profile-component a {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    text-decoration: none;
}
